:root {
  --background-color: #3C3836;
  --board-color: #504945;
  --square-color: #665C54;
  --color-I: #689D6A;
  --color-J: #458588;
  --color-L: #D65D0E;
  --color-O: #D79921;
  --color-S: #98971A;
  --color-T: #B16286;
  --color-Z: #CC241D;
  --color-I-ghost: #8EC07C;
  --color-J-ghost: #83A598;
  --color-L-ghost: #FE8019;
  --color-O-ghost: #FABD2F;
  --color-S-ghost: #B8BB26;
  --color-T-ghost: #D3869B;
  --color-Z-ghost: #FB4934;
}


body {
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

#game {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: var(--board-color);
  gap: 0.3rem;
  padding: 0.3rem;
}

.square {
  width: 1rem;
  height: 1rem;
  background-color: var(--square-color);
}