:root {
  --background-color: #3C3836;
  --board-color: #504945;
  --square-color: #665C54;
  --text-color: #FBF1C7;
  --link-color: #83A598;
  --accent-color: #D65D0E;
  --color-I: #689D6A;
  --color-J: #458588;
  --color-L: #D65D0E;
  --color-O: #D79921;
  --color-S: #98971A;
  --color-T: #B16286;
  --color-Z: #CC241D;
  --color-I-ghost: #8EC07C;
  --color-J-ghost: #83A598;
  --color-L-ghost: #FE8019;
  --color-O-ghost: #FABD2F;
  --color-S-ghost: #B8BB26;
  --color-T-ghost: #D3869B;
  --color-Z-ghost: #FB4934;
}


body {
  margin: 0;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  background-color: var(--background-color);
  font-family: 'Rubik', sans-serif;
  color: var(--text-color);
}

.titlebar {
  grid-column: 1 / 4;
}

.titlebar>h1 {
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0.5rem 0px;
}

a,
a:visited {
  color: var(--link-color);
}

.left-side {
  justify-self: right;
}

#holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--board-color);
  gap: 2px;
  padding: 2px;
  width: fit-content;
  height: fit-content;
}

.score {
  margin: 0.5rem 0;
  text-align: center;
}

#game {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: var(--board-color);
  gap: 2px;
  padding: 2px;
  width: fit-content;
  height: fit-content;
}

.square {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--square-color);
}

button {
  grid-column: 1 / 4;
  margin: 1rem;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  box-shadow: black 3px 3px 0px;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

button:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}